body {
	background-color: papayawhip;
}

.calculator {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	width: 500px;
	height: 500px;
	margin: 5% auto 5% auto;
	padding: 20px;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	background: lightcoral;
}

.visor {
	grid-column: 1/4;
	grid-row: 1/2;
	font-size: 30px;
	text-align: right;
	background-color: papayawhip;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
}
.deleteButton {
	grid-column: 4/5;
	grid-row: 1/2;
}
.digit:first-child {
	grid-column: 1/2;
	grid-row: 2/3;
}
.digit:nth-child(2) {
	grid-column: 2/3;
	grid-row: 2/3;
}
.digit:nth-child(3) {
	grid-column: 3/4;
	grid-row: 2/3;
}
.digit:nth-child(4) {
	grid-column: 1/2;
	grid-row: 3/4;
}
.digit:nth-child(5) {
	grid-column: 2/3;
	grid-row: 3/4;
}
.digit:nth-child(6) {
	grid-column: 3/4;
	grid-row: 3/4;
}
.digit:nth-child(7) {
	grid-column: 1/2;
	grid-row: 4/5;
}
.digit:nth-child(8) {
	grid-column: 2/3;
	grid-row: 4/5;
}
.digit:nth-child(9) {
	grid-column: 3/4;
	grid-row: 4/5;
}
.digit:nth-child(10) {
	grid-column: 1/2;
	grid-row: 5/5;
}
.digit:nth-child(11) {
	grid-column: 2/3;
	grid-row: 5/5;
}
.operator:first-child {
	grid-column: 4/5;
	grid-row: 2/3;
}
.operator:nth-child(2) {
	grid-column: 4/5;
	grid-row: 3/4;
}
.operator:nth-child(3) {
	grid-column: 4/5;
	grid-row: 4/5;
}
.operator:nth-child(4) {
	grid-column: 4/5;
	grid-row: 5/6;
}
.operator:nth-child(5) {
	grid-column: 3/4;
	grid-row: 5/6;
}

.digit, .operator, .deleteButton {
	background: lightpink;
	font-size: 30px;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
}